USE [master]
GO

WHILE EXISTS(select NULL from sys.databases where name='MobileCenter')
BEGIN
    DECLARE @SQL varchar(max)
    SELECT @SQL = COALESCE(@SQL,'') + 'Kill ' + Convert(varchar, SPId) + ';'
    FROM MASTER..SysProcesses
    WHERE DBId = DB_ID(N'MobileCenter') AND SPId <> @@SPId
    EXEC(@SQL)
    DROP DATABASE [MobileCenter]
END

CREATE DATABASE [MobileCenter]
GO

USE [MobileCenter]
GO


GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 5/25/2020 2:24:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 5/25/2020 2:24:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[IdChiTietDonHang] [int] IDENTITY(1,1) NOT NULL,
	[IdSanPham] [int] NOT NULL,
	[IdDonHang] [int] NOT NULL,
	[SoLuongSanPham] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ChiTietDonHang] PRIMARY KEY CLUSTERED 
(
	[IdChiTietDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DanhMucSanPham]    Script Date: 5/25/2020 2:24:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucSanPham](
	[IdDanhMucSanPham] [int] IDENTITY(1,1) NOT NULL,
	[TenDanhMucSanPham] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.DanhMucSanPham] PRIMARY KEY CLUSTERED 
(
	[IdDanhMucSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 5/25/2020 2:24:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[IdDonHang] [int] IDENTITY(1,1) NOT NULL,
	[IdNguoiDung] [int] NOT NULL,
	[IdTinhTrangDonHang] [int] NOT NULL,
	[NgayTaoDonHang] [datetime] NOT NULL,
	[NgayXuLyDonHang] [datetime] NOT NULL,
	[TrackingNumber] [nvarchar](max) NULL,
	[MaGiaoDich] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.DonHang] PRIMARY KEY CLUSTERED 
(
	[IdDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 5/25/2020 2:24:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[IdGioHang] [int] IDENTITY(1,1) NOT NULL,
	[IdSanPham] [int] NOT NULL,
	[CartGuid] [nvarchar](max) NULL,
	[SoLuong] [int] NOT NULL,
	[NgayTaoGioHang] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_dbo.GioHang] PRIMARY KEY CLUSTERED 
(
	[IdGioHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HinhSanPham]    Script Date: 5/25/2020 2:24:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HinhSanPham](
	[IdHinhSanPham] [int] IDENTITY(1,1) NOT NULL,
	[LinkSanPham] [varbinary](max) NULL,
 CONSTRAINT [PK_dbo.HinhSanPham] PRIMARY KEY CLUSTERED 
(
	[IdHinhSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KieuNguoiDung]    Script Date: 5/25/2020 2:24:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KieuNguoiDung](
	[IdKieuNguoiDung] [int] IDENTITY(1,1) NOT NULL,
	[TenKieuNguoiDung] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.KieuNguoiDung] PRIMARY KEY CLUSTERED 
(
	[IdKieuNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 5/25/2020 2:24:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[IdNguoiDung] [int] IDENTITY(1,1) NOT NULL,
	[IdKieuNguoiDung] [int] NOT NULL,
	[HoTen] [nvarchar](max) NULL,
	[TenDangNhap] [nvarchar](max) NULL,
	[DiaChi] [nvarchar](max) NULL,
	[MatKhau] [nvarchar](max) NULL,
	[SoDienThoai] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.NguoiDung] PRIMARY KEY CLUSTERED 
(
	[IdNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 5/25/2020 2:24:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[IdSanPham] [int] IDENTITY(1,1) NOT NULL,
	[IdDanhMucSanPham] [int] NOT NULL,
	[IdHinhSanPham] [int] NOT NULL,
	[TenSanPham] [nvarchar](max) NULL,
	[MoTaSanPham] [nvarchar](max) NULL,
	[GiaSanPham] [int] NOT NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [PK_dbo.SanPham] PRIMARY KEY CLUSTERED 
(
	[IdSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ThamSo]    Script Date: 5/25/2020 2:24:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThamSo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SoLuongTruyCap] [int] NULL,
 CONSTRAINT [PK_dbo.ThamSo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TinhTrangDonHang]    Script Date: 5/25/2020 2:24:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinhTrangDonHang](
	[IdTinhTrangDonHang] [int] IDENTITY(1,1) NOT NULL,
	[TenTinhTrangDonHang] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.TinhTrangDonHang] PRIMARY KEY CLUSTERED 
(
	[IdTinhTrangDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[DanhMucSanPham] ON 

INSERT [dbo].[DanhMucSanPham] ([IdDanhMucSanPham], [TenDanhMucSanPham]) VALUES (1, N'LAPTOP')
INSERT [dbo].[DanhMucSanPham] ([IdDanhMucSanPham], [TenDanhMucSanPham]) VALUES (2, N'TIVI')
SET IDENTITY_INSERT [dbo].[DanhMucSanPham] OFF

SET IDENTITY_INSERT [dbo].[KieuNguoiDung] ON 

INSERT [dbo].[KieuNguoiDung] ([IdKieuNguoiDung], [TenKieuNguoiDung]) VALUES (1, N'Customer')
INSERT [dbo].[KieuNguoiDung] ([IdKieuNguoiDung], [TenKieuNguoiDung]) VALUES (2, N'Admin')
SET IDENTITY_INSERT [dbo].[KieuNguoiDung] OFF

ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ChiTietDonHang_dbo.DonHang_IdDonHang] FOREIGN KEY([IdDonHang])
REFERENCES [dbo].[DonHang] ([IdDonHang])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_dbo.ChiTietDonHang_dbo.DonHang_IdDonHang]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ChiTietDonHang_dbo.SanPham_IdSanPham] FOREIGN KEY([IdSanPham])
REFERENCES [dbo].[SanPham] ([IdSanPham])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_dbo.ChiTietDonHang_dbo.SanPham_IdSanPham]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DonHang_dbo.NguoiDung_IdNguoiDung] FOREIGN KEY([IdNguoiDung])
REFERENCES [dbo].[NguoiDung] ([IdNguoiDung])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_dbo.DonHang_dbo.NguoiDung_IdNguoiDung]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DonHang_dbo.TinhTrangDonHang_IdTinhTrangDonHang] FOREIGN KEY([IdTinhTrangDonHang])
REFERENCES [dbo].[TinhTrangDonHang] ([IdTinhTrangDonHang])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_dbo.DonHang_dbo.TinhTrangDonHang_IdTinhTrangDonHang]
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD  CONSTRAINT [FK_dbo.GioHang_dbo.SanPham_IdSanPham] FOREIGN KEY([IdSanPham])
REFERENCES [dbo].[SanPham] ([IdSanPham])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GioHang] CHECK CONSTRAINT [FK_dbo.GioHang_dbo.SanPham_IdSanPham]
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_dbo.NguoiDung_dbo.KieuNguoiDung_IdKieuNguoiDung] FOREIGN KEY([IdKieuNguoiDung])
REFERENCES [dbo].[KieuNguoiDung] ([IdKieuNguoiDung])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NguoiDung] CHECK CONSTRAINT [FK_dbo.NguoiDung_dbo.KieuNguoiDung_IdKieuNguoiDung]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SanPham_dbo.DanhMucSanPham_IdDanhMucSanPham] FOREIGN KEY([IdDanhMucSanPham])
REFERENCES [dbo].[DanhMucSanPham] ([IdDanhMucSanPham])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_dbo.SanPham_dbo.DanhMucSanPham_IdDanhMucSanPham]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SanPham_dbo.HinhSanPham_IdHinhSanPham] FOREIGN KEY([IdHinhSanPham])
REFERENCES [dbo].[HinhSanPham] ([IdHinhSanPham])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_dbo.SanPham_dbo.HinhSanPham_IdHinhSanPham]
GO


/****** Object:  StoredProcedure [dbo].[ChiTietDonHang_Insert]    Script Date: 5/25/2020 2:24:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[ChiTietDonHang_Insert]
@IdDonHang int,
@IdSanPham int,
@SoLuongSanPham int
AS
INSERT INTO ChiTietDonHang (
IdDonHang,
IdSanPham,
SoLuongSanPham)
VALUES (
@IdDonHang,
@IdSanPham,
@SoLuongSanPham)

GO
/****** Object:  StoredProcedure [dbo].[ChiTietDonHang_Select]    Script Date: 5/25/2020 2:24:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[ChiTietDonHang_Select]
@IdDonHang int
AS
SELECT
SoLuongSanPham,
TenSanPham,
GiaSanPham
FROM
ChiTietDonHang INNER JOIN
SanPham
ON
SanPham.IdSanPham = ChiTietDonHang.IdSanPham
WHERE
IdDonHang = @IdDonHang

GO
/****** Object:  StoredProcedure [dbo].[DangNhapAdmin_Select]    Script Date: 5/25/2020 2:24:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[DangNhapAdmin_Select]
@TenDangNhap nvarchar(50),
@MatKhau nvarchar(50)
AS
SELECT
IdNguoiDung,
IdKieuNguoiDung,
HoTen,
TenDangNhap,
DiaChi,
MatKhau,
SoDienThoai,
Email
FROM
NguoiDung
WHERE
TenDangNhap = @TenDangNhap AND
MatKhau = @MatKhau AND
IdKieuNguoiDung = 2

GO
/****** Object:  StoredProcedure [dbo].[DangNhapNguoiDung_Select]    Script Date: 5/25/2020 2:24:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DangNhapNguoiDung_Select]
@TenDangNhap nvarchar(50),
@MatKhau nvarchar(50)
AS
SELECT HoTen,IdNguoiDung
FROM NguoiDung
WHERE
TenDangNhap = @TenDangNhap AND MatKhau = @MatKhau AND IdKieuNguoiDung = 1

GO
/****** Object:  StoredProcedure [dbo].[DanhMucSanPham_Select]    Script Date: 5/25/2020 2:24:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DanhMucSanPham_Select]
AS
SELECT IdDanhMucSanPham, TenDanhMucSanPham
FROM DanhMucSanPham

GO
/****** Object:  StoredProcedure [dbo].[DanhMucSanPhamMaster_Select]    Script Date: 5/25/2020 2:24:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[DanhMucSanPhamMaster_Select] 
	
AS
	select DanhMucSanPham.IdDanhMucSanPham,count(SanPham.IdDanhMucSanPham)  as SoSanPham,TenDanhMucSanPham 
	from SanPham join DanhMucSanPham on SanPham.IdDanhMucSanPham=DanhMucSanPham.IdDanhMucSanPham
	where SanPham.IdDanhMucSanPham=DanhMucSanPham.IdDanhMucSanPham
	group by DanhMucSanPham.IdDanhMucSanPham,TenDanhMucSanPham


GO
/****** Object:  StoredProcedure [dbo].[DonHang_Insert]    Script Date: 5/25/2020 2:24:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[DonHang_Insert]
@IdNguoiDung int,
@MaGiaoDich nvarchar(50)
AS
INSERT INTO DonHang (
IdNguoiDung,
MaGiaoDich)
VALUES (
@IdNguoiDung,
@MaGiaoDich)

GO
/****** Object:  StoredProcedure [dbo].[DonHang_Select]    Script Date: 5/25/2020 2:24:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[DonHang_Select]
@IdNguoiDung int
AS
SELECT
IdDonHang,
MaGiaoDich,
NgayTaoDonHang,
TenTinhTrangDonHang,
NgayXuLyDonHang,
TrackingNumber
FROM
DonHang INNER JOIN
TinhTrangDonHang
ON
TinhTrangDonHang.IdTinhTrangDonHang = DonHang.IdTinhTrangDonHang
WHERE
IdNguoiDung = @IdNguoiDung
ORDER BY
NgayTaoDonHang DESC

GO
/****** Object:  StoredProcedure [dbo].[DonHang_Update]    Script Date: 5/25/2020 2:24:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DonHang_Update]
@IdDonHang int,
@IdTinhTrangDonHang int,
@NgayXuLyDonHang datetime,
@TrackingNumber nvarchar(50)
AS
UPDATE
DonHang
SET
IdTinhTrangDonHang = @IdTinhTrangDonHang,
NgayXuLyDonHang = @NgayXuLyDonHang,
TrackingNumber = @TrackingNumber
WHERE
IdDonHang = @IdDonHang


GO
/****** Object:  StoredProcedure [dbo].[DonHangAll_Select]    Script Date: 5/25/2020 2:24:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[DonHangAll_Select]
AS
SELECT
IdDonHang,
MaGiaoDich,
NgayTaoDonHang,
TenTinhTrangDonHang,
HoTen,
TenDangNhap,
Diachi,
SoDienThoai,
Email
FROM
DonHang INNER JOIN
TinhTrangDonHang
ON
TinhTrangDonHang.IdTinhTrangDonHang = DonHang.IdTinhTrangDonHang
INNER JOIN
NguoiDung
ON
NguoiDung.IdNguoiDung = DonHang.IdNguoiDung
ORDER BY
NgayTaoDonHang DESC

GO
/****** Object:  StoredProcedure [dbo].[DonHangByID_Select]    Script Date: 5/25/2020 2:24:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[DonHangByID_Select]
@IdDonHang int
AS
SELECT
NgayTaoDonHang,
NgayXuLyDonHang,
IdTinhTrangDonHang,
TrackingNumber
FROM
DonHang
WHERE
IdDonHang = @IdDonHang


GO
/****** Object:  StoredProcedure [dbo].[GioHang_Delete]    Script Date: 5/25/2020 2:24:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[GioHang_Delete]
@IdGioHang int
AS
DELETE FROM
GioHang
WHERE
IdGioHang = @IdGioHang

GO
/****** Object:  StoredProcedure [dbo].[GioHang_Insert]    Script Date: 5/25/2020 2:24:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create PROCEDURE [dbo].[GioHang_Insert]
@CartGuid nvarchar(50),
@IdSanPham int,
@SoLuong int
AS
DECLARE @ItemCount int
SELECT @ItemCount = Count(IdSanPham) FROM GioHang
WHERE IdSanPham = @IdSanPham AND CartGuid = @CartGuid
IF @ItemCount > 0 /*cap nhat so luong*/
UPDATE GioHang SET SoLuong = (@SoLuong + GioHang.SoLuong)
WHERE IdSanPham = @IdSanPham AND CartGuid = @CartGuid
ELSE /*chen khi chua co san pham */
INSERT INTO GioHang ( CartGuid,IdSanPham,SoLuong)
VALUES (@CartGuid,@IdSanPham,@SoLuong)


GO
/****** Object:  StoredProcedure [dbo].[GioHang_Select]    Script Date: 5/25/2020 2:24:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create PROCEDURE [dbo].[GioHang_Select]
@CardGuid nvarchar(50)
AS
SELECT
IDGioHang,
SanPham.IdSanPham,
SanPham.TenSanPham,
SanPham.SoLuong,
SanPham.GiaSanPham as GiaSanPham,
(SanPham.GiaSanPham * SanPham.SoLuong) AS ThanhTien
FROM
GioHang INNER JOIN
SanPham
ON
SanPham.IdSanPham = GioHang.IdSanPham
WHERE
CartGuid = @CardGuid


GO
/****** Object:  StoredProcedure [dbo].[GioHang_Update]    Script Date: 5/25/2020 2:24:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[GioHang_Update]
@SoLuong int,
@IdGioHang int
AS
UPDATE
GioHang
SET
SoLuong = @SoLuong
WHERE
IdGioHang = @IdGioHang

GO
/****** Object:  StoredProcedure [dbo].[HinhSanPham_Select]    Script Date: 5/25/2020 2:24:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[HinhSanPham_Select]
@IdHinhSanPham int
AS
SELECT LinkSanPham
FROM HinhSanPham
WHERE IdHinhSanPham = @IdHinhSanPham


GO
/****** Object:  StoredProcedure [dbo].[NguoiDung_Insert]    Script Date: 5/25/2020 2:24:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[NguoiDung_Insert]
@HoTen nvarchar(50),
@TenDangNhap nvarchar(50),
@DiaChi nvarchar(50),
@SoDienThoai nvarchar(50),
@Email nvarchar(50),
@IdKieuNguoiDung int,
@MatKhau nvarchar(50)
AS
INSERT INTO NguoiDung (
HoTen,TenDangNhap,DiaChi,SoDienThoai,Email,IDKieuNguoiDung,MatKhau)
VALUES (@HoTen,@TenDangNhap,@DiaChi,@SoDienThoai,@Email,@IdKieuNguoiDung,@MatKhau)


GO
/****** Object:  StoredProcedure [dbo].[NguoiTruyCap_Select]    Script Date: 5/25/2020 2:24:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[NguoiTruyCap_Select]
AS
SELECT * FROM ThamSo

GO
/****** Object:  StoredProcedure [dbo].[NguoiTruyCap_Update]    Script Date: 5/25/2020 2:24:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[NguoiTruyCap_Update]
AS
UPDATE ThamSo SET SoLuongTruyCap=SoLuongTruyCap+1

GO
/****** Object:  StoredProcedure [dbo].[SanPham_Insert]    Script Date: 5/25/2020 2:24:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SanPham_Insert]
@IdDanhMucSanPham int,
@TenSanPham nvarchar(MAX),
@LinkSanPham varbinary(MAX),
@MoTaSanPham nvarchar(max),
@GiaSanPham int
AS
DECLARE @IdHinhSanPham int
INSERT INTO HinhSanPham (LinkSanPham) VALUES (@LinkSanPham)
SET @IdHinhSanPham = @@IDENTITY
INSERT INTO SanPham (IdDanhMucSanPham,TenSanPham,IdHinhSanPham,MoTaSanPham,GiaSanPham)
VALUES (@IdDanhMucSanPham,@TenSanPham,@IdHinhSanPham,@MoTaSanPham,@GiaSanPham)



GO
/****** Object:  StoredProcedure [dbo].[SanPham_Select]    Script Date: 5/25/2020 2:24:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SanPham_Select]
AS
SELECT
IdSanPham,TenSanPham,TenDanhMucSanPham,IdHinhSanPham,
SUBSTRING(MoTaSanPham, 1, 150) + '...' AS MoTaSanPham,GiaSanPham
FROM
SanPham INNER JOIN DanhMucSanPham
ON
DanhMucSanPham.IdDanhMucSanPham = SanPham.IdDanhMucSanPham

GO
/****** Object:  StoredProcedure [dbo].[SanPham_SelectSearch]    Script Date: 5/25/2020 2:24:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SanPham_SelectSearch]
@tieuchuantim nvarchar(255)
AS
SELECT
IdSanPham,
TenSanPham,
TenDanhMucSanPham,
IdHinhSanPham,
SUBSTRING(MoTaSanPham, 1, 150) + '...' AS MoTaSanPham,
GiaSanPham
FROM
SanPham INNER JOIN
DanhMucSanPham
ON
DanhMucSanPham.IdDanhMucSanPham = SanPham.IdDanhMucSanPham
WHERE
TenDanhMucSanPham LIKE '%' + @tieuchuantim + '%' OR
TenSanPham LIKE '%' + @tieuchuantim + '%' OR
MoTaSanPham LIKE '%' + @tieuchuantim + '%'


GO
/****** Object:  StoredProcedure [dbo].[SanPham_Update]    Script Date: 5/25/2020 2:24:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create PROCEDURE [dbo].[SanPham_Update]
@IdDanhMucSanPham int,
@TenSanPham nvarchar(50),
@IdHinhSanPham int,
@LinkSanPham varbinary(MAX),
@MoTaSanPham ntext,
@GiaSanPham int,
@IdSanPham int
AS
UPDATE
HinhSanPham
SET
LinkSanPham = @LinkSanPham
WHERE
IdHinhSanPham = @IdHinhSanPham
UPDATE
SanPham
SET
IdDanhMucSanPham = @IdDanhMucSanPham,
TenSanPham = @TenSanPham,
IdHinhSanPham = @IdHinhSanPham,
MoTaSanPham = @MoTaSanPham,
GiaSanPham = @GiaSanPham
WHERE
IdSanPham = @IdSanPham

GO
/****** Object:  StoredProcedure [dbo].[SanPham10_Select]    Script Date: 5/25/2020 2:24:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SanPham10_Select]
AS
SELECT Top(10)
IdSanPham,
TenSanPham,
TenDanhMucSanPham,
IdHinhSanPham,
SUBSTRING(MoTaSanPham, 1, 150) + '...' AS MoTaSanPham,
GiaSanPham
FROM
SanPham INNER JOIN
DanhMucSanPham
ON
DanhMucSanPham.IdDanhMucSanPham = SanPham.IdDanhMucSanPham
ORDER BY IdSanPham DESC


GO
/****** Object:  StoredProcedure [dbo].[SanPhamByID_Select]    Script Date: 5/25/2020 2:24:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SanPhamByID_Select]
@IdSanPham int
AS
SELECT
IdSanPham,TenSanPham,TenDanhMucSanPham,IdHinhSanPham,MoTaSanPham,GiaSanPham
FROM
SanPham INNER JOIN
DanhMucSanPham
ON
DanhMucSanPham.IdDanhMucSanPham = SanPham.IdDanhMucSanPham
WHERE
IdSanPham = @IdSanPham

GO
/****** Object:  StoredProcedure [dbo].[SanPhamByIDDanhMucSanPham]    Script Date: 5/25/2020 2:24:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create PROCEDURE [dbo].[SanPhamByIDDanhMucSanPham]
@IdDanhMucSanPham int
AS
SELECT 
	IdSanPham,
	SanPham.IdDanhMucSanPham,
	TenSanPham,
	TenDanhMucSanPham,
	IdHinhSanPham,
	MoTaSanPham,
	GiaSanPham
FROM 
	DanhMucSanPham INNER JOIN 
	SanPham 
ON 
	DanhMucSanPham.IdDanhMucSanPham = SanPham.IdDanhMucSanPham
WHERE 
	SanPham.IdDanhMucSanPham = @IdDanhMucSanPham


GO
/****** Object:  StoredProcedure [dbo].[SanPhamTheoDanhMuc_Select]    Script Date: 5/25/2020 2:24:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SanPhamTheoDanhMuc_Select] 
	@IdDanhMucSanPham int
AS
	select IdSanPham,
			IdHinhSanPham,
			substring(MoTaSanPham,1,15)+'...' as MoTaSanPham,
			GiaSanPham,
			TenSanPham	
		from SanPham
		where IdDanhMucSanPham = @IdDanhMucSanPham


GO
/****** Object:  StoredProcedure [dbo].[TinhTrangDonHang_Select]    Script Date: 5/25/2020 2:24:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


Create PROCEDURE [dbo].[TinhTrangDonHang_Select] 
	
AS
	select *
	from TinhTrangDonHang


GO
